body{
    background-color: black;
    color: white;
}

span{
    color: red;
}
a{
    color:aqua;
}
.contagem{
    background-color:white;
    padding: 20px 0;
    text-align: center;
}

